
.root {
    -fx-font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
    -fx-background-color: #ECEFF1;
}
.label {
    -fx-font-family: inherit;
}

.tab {

    -fx-background-color: #ECEFF1; /* Fondo de pestaña inactiva */
}
.tab .tab-label {
    -fx-font-size: 13px;
    -fx-text-fill: #546E7A; /* Texto de pestaña inactiva */
}
.tab:selected {

    -fx-background-color: #FFFFFF;
    -fx-border-color: #0078d7;
    -fx-border-width: 0 0 3 0;
}

.tab:selected .tab-label {
    -fx-font-weight: bold;
    -fx-text-fill: #0078d7;
}


.table-view .column-header {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;

    -fx-border-width: 0 1 1 0;
}

.table-view .table-cell {
    -fx-padding: 3px 5px;
    -fx-text-fill: #263238;


    -fx-border-color: #ECEFF1;
    -fx-border-width: 0 1 1 0;
    -fx-font-family: inherit;
}


.table-cell.columna-centrada {
    -fx-alignment: CENTER;
}

.button {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #0078d7;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.22), 5, 0.0, 0, 2);
}
.button:hover {
    -fx-background-color: #005a9e; /* Azul más oscuro */
}
.button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0.0, 0, 1);
}

.text-field {
    -fx-font-size: 13px;
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 4px 4px 0 0;

    -fx-border-color: #B0BEC5;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 3px;
}
.search-field{
-fx-padding: 6px;
}
.text-field:focused {
    -fx-border-color: #0078d7;
    -fx-border-width: 0 0 2 0;
}

.text-field .prompt-text {
    -fx-fill: #9E9E9E;
}

.combo-box-base {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 4px 4px 0 0;
    -fx-border-color: #B0BEC5;
    -fx-border-width: 0 0 1 0;
}
.combo-box-base:focused {
    -fx-border-color: #0078d7;
    -fx-border-width: 0 0 2 0;
}

.popup-window {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4px;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0.0, 0, 4);

    -fx-border-color: #BDBDBD;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}